@model AspNetMVCDemo.Models.AddViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/master.cshtml";
}

@section scripts {
   @Scripts.Render("~/bundles/jqueryval")
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>Name</div>
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <p></p>
    <div>Email</div>
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
    <p></p>
    <div>Course ID</div>
    @Html.DropDownListFor(m => m.Course, Model.Courses)
    <p></p>
    <input type="submit" value="Add Student" />
}


